JavaScript Full Course (2023) - Beginner to Pro - Part 2 Lesson 13.en.srt
JavaScript Full Course (2023) - Beginner to Pro - Part 2 Lesson 13.mkv
JavaScript Full Course (2023) - Beginner to Pro - Part 2 Lesson 14.en.srt
JavaScript Full Course (2023) - Beginner to Pro - Part 2 Lesson 14.mkv